@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Roboto:wght@400;700&display=swap');

$font: 'Roboto', sans-serif;
$altFont: 'Nova Round', cursive;

$darkColor: #333;
$textColor: #999;
$ascentColor: #AEB7D0;
$bgColor: #F5EBE0;
$grey: #A9A9A9;
$headerColor: #C0B5AB;

