@import 'variables';


.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font;
    background: url(PngItem_216962.png) 40% -10% no-repeat, linear-gradient($bgColor, white);

    .pageContainer {
        max-width: 1200px;
    }
}

